@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        marco@@e-realm.net <a href="https://github.com/mrerealm/myDynamicsCodeChallenge" target="_blank" class="ml-md-auto">github</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
